/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");

body {
  background-color: black;
  font-family: Nunito;
}

header h1 {
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
}

